<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.pngfind.com%2Fpngs%2Fm%2F170-1700251_lightbulb-icon-png-light-favicon-transparent-png.png&imgrefurl=https%3A%2F%2Fwww.pngfind.com%2Fmpng%2FwmRRbh_lightbulb-icon-png-light-favicon-transparent-png%2F&tbnid=nLNT9X6H8ZlBWM&vet=12ahUKEwjM_PDayNn4AhUVgGMGHXz8Du4QMygBegUIARDGAQ..i&docid=SUn9YiKDQm_VxM&w=840&h=880&q=favicon%20bulb&ved=2ahUKEwjM_PDayNn4AhUVgGMGHXz8Du4QMygBegUIARDGAQ">
</head>
<body>
